.row {
  max-width: 164rem;
  margin: 0 auto; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 4rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 *6rem) / 3); }
  .row .col-2-of-3 {
    width: calc( 2 * ((100% - 2 *6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 *6rem) / 4); }
  .row .col-2-of-4 {
    width: calc( 1 * ((100% - 3 *6rem) / 2) + 6rem); }
  .row .col-3-of-4 {
    width: calc( 3 * ((100% - 3 *6rem) / 4) + 2 *6rem); }

.header {
  background-image: linear-gradient(to right bottom, rgba(142, 158, 252, 0.65), rgba(28, 62, 255, 0.65)), url("../img/bg/bg1.jpg");
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  position: relative;
  height: 90vh; }
  .header__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
  .header__logo {
    height: 10rem;
    width: 10rem; }
  .header__logo-box {
    position: absolute;
    top: 0rem;
    left: 3rem; }
  .header__nav-bar {
    position: absolute;
    top: 3rem;
    right: 5rem;
    list-style: none; }
    .header__nav-bar li {
      display: inline-block; }
      .header__nav-bar li:not(:last-child) {
        margin-right: 20px; }
      .header__nav-bar li a {
        text-decoration: none;
        color: white;
        text-transform: uppercase;
        font-size: 150%;
        font-weight: 700;
        transition: all 0.5s;
        padding: 3px 0; }
        .header__nav-bar li a:hover {
          color: #d388d3; }
  .header__btn {
    position: absolute;
    transform: translate(-50%, -50%);
    text-align: center;
    left: 50%; }
    .header__btn--1 {
      top: 62%; }
    .header__btn--2 {
      top: 73%; }

.section-product section {
  width: 80%;
  margin: auto; }

.section-about {
  background-color: #f7f8fa;
  margin-top: -3rem; }

* {
  padding: 0;
  box-sizing: border-box; }

.section-product {
  margin-top: -3rem;
  background-color: #f7f8fa; }
  .section-product section {
    width: 80%;
    margin: auto;
    text-align: left;
    display: flex;
    padding: 40px 0;
    justify-content: space-around; }
    .section-product section .content p {
      margin: 40px 0;
      width: 50%;
      font-size: 15pt; }
    .section-product section .content h1 {
      letter-spacing: 2px;
      font-weight: bold;
      font-size: 25pt; }
    .section-product section .content a {
      text-decoration: none;
      border: 2px solid #8c7ae6;
      color: #8c7ae6;
      font-size: 10pt;
      padding: 10px 20px;
      transition: background-color 0.5s;
      border-radius: 50px; }
    .section-product section .content a:hover {
      background-color: #8c7ae6;
      color: white; }
    .section-product section img {
      width: 30%; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px); }
  80% {
    transform: translateX(10px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px); }
  80% {
    transform: translateX(-10px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

html {
  font-family: Lato, sans-serif;
  font-size: 62.5%;
  color: #5a5a5a;
  background-color: white;
  text-rendering: optimizeLegibility; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 6rem; }
  .heading-primary--main {
    display: block;
    font-size: 3.2rem;
    font-weight: 400;
    word-spacing: 1.5rem;
    animation: moveInLeft 1s ease-out; }
  .heading-primary--sub {
    display: block;
    font-size: 3.5rem;
    font-weight: 800;
    word-spacing: 0.3rem;
    animation: moveInRight 1s ease-out; }

.heading-secondary {
  margin-top: 5rem;
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  letter-spacing: 0.2rem;
  cursor: pointer;
  background-image: linear-gradient(to right, #8e9efc, #1c3eff);
  color: transparent;
  -webkit-background-clip: text;
  transition: all 0.2s; }
  .heading-secondary:hover {
    transform: skewY(5deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-top-big {
  margin-bottom: 8rem !important; }

.u-margin-center {
  margin: 0 auto !important; }

.u-margin-left-samll {
  margin-left: 1.5rem !important; }

.sticky {
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 900;
  width: 100%;
  padding: 10px;
  min-height: 8rem; }
  .sticky .header__logo-box {
    top: 0rem;
    width: 10rem;
    height: 10rem; }
  .sticky .header__nav-bar {
    top: 3rem; }

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1rem 2.5rem;
  display: inline-block;
  border-radius: 10rem;
  font-size: 1.6rem;
  position: relative;
  transition: all 0.2s; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 10rem;
  transition: all 0.4s; }

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active {
  outline: none;
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn__opacity--slow {
  background-color: transparent;
  border-color: rgba(0, 0, 0, 0.8); }

.btn--white {
  color: #777777;
  background-color: rgba(255, 255, 255, 0.7); }
  .btn--white::after {
    background-color: rgba(255, 255, 255, 0.7); }

.btn--purple {
  background-color: rgba(0, 0, 255, 0.3);
  color: #777777; }
  .btn--purple::after {
    background-color: rgba(0, 0, 255, 0.3); }

.btn--blue {
  color: #777777;
  background-color: #8e9efc; }
  .btn--blue::after {
    background-color: #8e9efc; }

.btn--animated {
  animation: moveInBottom 0.5s ease-out 0.75s;
  animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  color: #5a73fc;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #5a73fc;
  padding: 0.3rem;
  font-size: 1.6rem;
  transition: all 0.2s; }

.btn-text:hover {
  background-color: #5a73fc;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-0.2rem); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

.mobile-nav-icon {
  font-size: 200%;
  color: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 3rem;
  right: 10rem;
  display: none; }

.about-box {
  width: 80%;
  margin: auto;
  padding-bottom: 2rem; }
  .about-box__text--title {
    text-transform: uppercase;
    font-size: 3.5rem;
    font-weight: 800; }
  .about-box__text--content {
    font-size: 1.6rem;
    text-align: justify; }
    .about-box__text--content:not(:last-child) {
      margin-bottom: 3rem; }
  .about-box__image--1 {
    margin: 0 auto;
    width: 100%;
    background-color: transparent; }
